{% load static swampdragon_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Notifications demo</h1>

<!-- This is our list of notifications -->
<ul id="notifications">
    {% for notification in notification %}
    <li>{{ notification.message }}</li>
    {% endfor %}
</ul>


<!-- SwampDragon -->
<!--   Here use the statci path provided by the {% %}  on html and you will be error free in console.og  -->
{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.js' %}"></script>

<!-- notifications -->
<script type="text/javascript" src="{% static 'notifications.js' %}"></script>
</body>
</html>
